<!DOCTYPE html>
<html>
<head>
  <title>Expense Approved</title>
</head>
<body>
  <h1>Expense Approved</h1>
  <p>Employee ID: <%= @expense.employee_id %></p>
  <p>Amount: <%= @expense.amount %></p>
  <!-- Add other expense details here -->
</body>
</html>
